<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thejoeunit.www.brandcopy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fm_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".AnalysisActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".TotalScoreActivity" />
        <activity android:name=".DangerActivity" />
        <activity android:name=".GroupKakaoActivity" />
        <activity android:name=".InjuryInformationActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".KakaoQuestionActivity" />
        <activity android:name=".ServiceCenterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".WritePostingActivity" />
        <activity android:name=".WriteLoginActivity" />
        <activity android:name=".usergulie_activity.UserGulieActivityOne" />
        <activity android:name=".usergulie_activity.UserGulieActivityTwo" />
        <activity android:name=".usergulie_activity.UserGulieActivityThree" />
        <activity android:name=".PushSettingActivity" />
        <activity android:name=".ForgetIdActivity"></activity>
    </application>

</manifest>